<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">
      <div class="ui-g-12">
         <h1>
          Estados
         </h1>
       </div>
       <div class="ui-g-12 ui-fluid">
           <label>Descrição</label>
           <input pInputText type="text" name="descricao" [(ngModel)]="nomeBusca">
       </div>
       <div class="ui-g-12">
         <button pButton type="submit" label="Pesquisar"></button>
       </div>
     </div>
     </form>
  </form>
</div>
